In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df

,Name,Email,Organization,Days,Dietary restrictions,Payment
0,Salman Khan,salman@gmail.com,Bollywood,Day 1,None,Yes
1,Aamir Khan,aamir@yahoo.com,Hollywood,Day 2,Vegetarian,Yes
2,Akshay Kumar,akshay@microsoft.com,Tollywood,Day 3,Kosher,Yes
3,Deepika Padukone,deepika@rediff.com,Kollywood,Day 1,Gluten-free,Yes

In [8]:
d = df.loc[0]
d['Name']

'Salman Khan'

In [9]:
dietary_dict = {
    "None": "1",
    "Vegetarian": "2",
    "Vegan": "3",
    "Kosher": "4",
    "Gluten-free": "5",
    "Other": "xx"
}
df['Dietary restrictions'].replace(dietary_dict, inplace=True)

In [15]:
days_dict = {
    "Day 1":"1",
    "Day 2":"2",
    "Day 3":"3"
}
df['Days'].replace(days_dict, inplace=True)

In [28]:
for i in range(0,df.shape[0]):
    print(df.loc[i])

Name                         Salman Khan
Email                   salman@gmail.com
Organization                   Bollywood
Days                                   1
Dietary restrictions                   1
Payment                              Yes
Name: 0, dtype: object
Name                         Aamir Khan
Email                   aamir@yahoo.com
Organization                  Hollywood
Days                                  2
Dietary restrictions                  2
Payment                             Yes
Name: 1, dtype: object
Name                            Akshay Kumar
Email                   akshay@microsoft.com
Organization                       Tollywood
Days                                       3
Dietary restrictions                       4
Payment                                  Yes
Name: 2, dtype: object
Name                      Deepika Padukone
Email                   deepika@rediff.com
Organization                     Kollywood
Days                                     1
Dietary restrictions                     5
Payment                                Yes
Name: 3, dtype: object

In [31]:
def automation():
    headers = pd.read_excel('header.xlsx')
    for i in range(0,headers.shape[0]):
        dict = {}
        header = headers.loc[i]
        dict['Referer'] = header['Referrer']
        dict[header['Option']] = header['IP']
        dict['User-Agent'] = header['USERAGENT']
        print(dict)
        
        
        data = pd.read_csv('data.csv')
        for j in range(0,data.shape[0]):
            datum = data.loc[j]
            formFilling(driver,datum)
    return None    
automation()

{'Referer': 'https://google.com', 'X-Forwarded-For': '47.29.76.109', 'User-Agent': 'Mozilla/5.0 (Linux; Android 7.1.1; CPH1723 Build/N6F26Q; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/67.0.3396.87 Mobile Safari/537.36'}
{'Referer': 'https://yahoo.com', 'X-Forwarded-For': '47.29.76.239', 'User-Agent': 'Mozilla/5.0 (Linux; Android 7.1.1; CPH1723 Build/N6F26Q; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/67.0.3396.87 Mobile Safari/537.36'}
{'Referer': 'https://google.com', 'X-Forwarded-For': '47.29.30.157', 'User-Agent': 'Mozilla/5.0 (Linux; Android 7.0; SM-J701F Build/NRD90M; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/67.0.3396.87 Mobile Safari/537.36'}
{'Referer': 'https://yahoo.com', 'X-Forwarded-For': '42.106.0.185', 'User-Agent': 'Mozilla/5.0 (Linux; U; Android 4.2.2; en-us; iBall_Andi4.5_Ripple Build/JDQ39) AppleWebKit/534.30 (KHTML, like Gecko) Version/4.0 Mobile Safari/534.30'}
{'Referer': 'https://google.com', 'X-Forwarded-For': '106.207.113.91', 'User-Agent': 'Mozilla/5.0 (Linux; Android 7.0; Moto G (5) Plus Build/NPN25.137-67-5; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/64.0.3282.137 Mobile Safari/537.36'}

In [20]:
def formFilling(driver,data):
    # NAME
    driver.find_element_by_xpath('//*[@id="mG61Hd"]/div/div[2]/div[2]/div[1]/div/div[2]/div/div[1]/div/div[1]/input').send_keys(data['Name'])
    
    # EMAIL
    driver.find_element_by_xpath('//*[@id="mG61Hd"]/div/div[2]/div[2]/div[2]/div/div[2]/div/div[1]/div/div[1]/input').send_keys(data['Email'])
    
    # ORGANISATION
    driver.find_element_by_xpath('//*[@id="mG61Hd"]/div/div[2]/div[2]/div[3]/div/div[2]/div/div[1]/div/div[1]/input').send_keys(data['Organization'])
    
    # ATTENDANCE DAY 
    attendance_xpath = '//*[@id="mG61Hd"]/div/div[2]/div[2]/div[4]/div/div[2]/div[' + data['Days'] + ']/div/label'
    # Working Examples:
    # //*[@id="mG61Hd"]/div/div[2]/div[2]/div[4]/div/div[2]/div[1]/div/label
    # //*[@id="mG61Hd"]/div/div[2]/div[2]/div[4]/div/div[2]/div[2]/div/label
    # //*[@id="mG61Hd"]/div/div[2]/div[2]/div[4]/div/div[2]/div[3]/div/label
    driver.find_element_by_xpath(attendance_xpath).click()
    
    # DIETARY RESTRICTION
    # //*[@id="mG61Hd"]/div/div[2]/div[2]/div[5]/div/div[2]/div/content/div/label[1]
    # //*[@id="mG61Hd"]/div/div[2]/div[2]/div[5]/div/div[2]/div/content/div/label[2]
    # Other Option
    # //*[@id="mG61Hd"]/div/div[2]/div[2]/div[5]/div/div[2]/div/content/div/div
    # //*[@id="mG61Hd"]/div/div[2]/div[2]/div[5]/div/div[2]/div/content/div/div/div/content/div/div/div[1]/input
    if data['Dietary restrictions'] == 'xx':
        driver.find_element_by_xpath('//*[@id="mG61Hd"]/div/div[2]/div[2]/div[5]/div/div[2]/div/content/div/div/label/div/div[1]/div[3]/div').click()
        # Input Field
        driver.find_element_by_xpath('//*[@id="mG61Hd"]/div/div[2]/div[2]/div[5]/div/div[2]/div/content/div/div/div/content/div/div/div[1]/input').send_keys('None Provided')
    else:    
        dietary_xpath = '//*[@id="mG61Hd"]/div/div[2]/div[2]/div[5]/div/div[2]/div/content/div/label['+ data['Dietary restrictions'] +']'
        driver.find_element_by_xpath('').click()
        
    # PAY $$ ON ARRIVAL
    driver.find_element_by_xpath('//*[@id="mG61Hd"]/div/div[2]/div[2]/div[6]/div/div[2]/div/div/label').click()
    
    # SUBMIT
    driver.find_element_by_xpath('//*[@id="mG61Hd"]/div/div[2]/div[3]/div[1]/div/div/content/span').click()
    
    return None

In [32]:
ds = pd.read_excel('header.xlsx')
ds

,ID,Option,IP,USERAGENT,Referrer,WaitInSecs
0,1,X-Forwarded-For,47.29.76.109,Mozilla/5.0 (Linux; Android 7.1.1; CPH1723 Bui...,https://google.com,1
1,2,X-Forwarded-For,47.29.76.239,Mozilla/5.0 (Linux; Android 7.1.1; CPH1723 Bui...,https://yahoo.com,1
2,3,X-Forwarded-For,47.29.30.157,Mozilla/5.0 (Linux; Android 7.0; SM-J701F Buil...,https://google.com,1
3,4,X-Forwarded-For,42.106.0.185,Mozilla/5.0 (Linux; U; Android 4.2.2; en-us; i...,https://yahoo.com,1
4,5,X-Forwarded-For,106.207.113.91,Mozilla/5.0 (Linux; Android 7.0; Moto G (5) Pl...,https://google.com,1